{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

  <div class="jumbotron text-center mb-0" id="jumbo" style="background-color:white;">

    <h1 class="h1" style="font-family: 'Dosis', cursive; color:#11999E;font-size:70px;">Awards</h1>
    <p class="h1" style="font-family: 'Dosis', cursive; color:black;font-size:25px;">View projects, submit your own projects and have them reviewed.</p>
  </div>
</div>


<div class="jumbotron itson mb-3 ">

  <div class="card-deck flex-wrap">
    {% for project in all_project %}
    <!-- <h1>All Projects</h1> -->

    <div class="card border-secondary w-33"><a href="{% url 'project' project.id %}">

        <img src="{{project.project_image.url}}" data-target="#imageModal{{project.id}}" data-toggle="modal" alt="" class="img-fluid"
          id="eachimage1" size="100px200"></a>
      <p style="font-family: 'Dosis', sans-serif; text-align:center;"> {{ project.description}}</p>
     <p style="font-family: 'Dosis', sans-serif; text-align:center;"> {{ project.user.username}}</p>
     <span class="badge badge-pill badge-info" style="font-family: 'Dosis', sans-serif;">
       <a href="{{ project.url}}">Visit Site</a></span>
      <span class="badge badge-pill badge-danger" style="font-family: 'Dosis', sans-serif; text-align:center;">Like</span>
  <span class="badge badge-pill badge-warning" style="font-family: 'Dosis', sans-serif; text-align:center;"><a href="{% url 'project' project.id %}">View Project</a></span>

    </div>
    {% endfor %}
  </div>


</div>

<div class="jumbotron text-center mt-3" style="background-color:white;font-family: 'Dosis', sans-serif;">

  <form action="{%url 'home'%}" method="post">
    {%csrf_token%}{% for field in form %}
    {% bootstrap_field field %}
{% endfor %}
    <input type="submit" style="background-color:white;" value="Subscribe To Awards ">
  </form>

</div>


<div class="container">
  <div class="col-md-12">
    <div class="footer text-center">
     

        <li style="font-size:10px;"> <strong>© 2022 Chepngetich Edah</strong></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %} {{block.super}}
<script type="text/javascript" src="{%static 'js/scripts.js'%}"></script>

{% endblock %}
