{% load static %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light" id="main-navbar">
    <div class="container">
        <a class="navbar-brand pr-5" style="border-right: 1px solid #efefef;" href="{%url 'home' %}" m-2>
          <img src="{% static "images/logo.jpeg" %}" height="45" class="d-inline-block align-top"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                  {% if request.user.profile.picture %}
                      <a href="{% url "users:detail" request.user.username %}">
                          <img src="{{ request.user.profile.picture.url }}" height="35" class="d-inline-block align-top rounded-circle"/>
                      </a>    
                  {% else %}
                      <img src="{% static 'images/default-profile.png' %}" height="35" class="d-inline-block align-top rounded-circle"/>
                  {% endif %}
                  <a href=# style="color:inherit;text-decoration:inherit;" >
                      <i class="lead">@{{request.user.username}}</i>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'addpost' %}">Add project</a>
            </li>

              <li class="nav-item nav-icon">
                  <a href="{%url 'addpost' %}">
                      <i class="fas fa-plus"></i>
                      <span class="d-sm-block d-md-none d-xl-none">Add a  Post</span>
                  </a>
              </li>

              <li class="nav-item nav-icon">
                  <a href="{% url 'logout' %}">
                      <i class="fas fa-sign-out-alt"></i>
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                      <span class="d-sm-block d-md-none d-xl-none">Sign Out</span>
                  </a>
              </li>

          </ul>
      </div>
      </div>
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>

        <!-- <div class="input-group">
          <input id="search-input" type="search" class="form-control" placeholder="Search anything...">  
            <button id="search-button" type="button" class="btn btn-primary">
            <i class="fa fa-search"></i>
            </button>
        </div>
  -->
   
</nav>